.cover {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 520px;
}
.cover .masking {
  position: absolute;
  width: 100%;
  bottom: 0;
  top: 0;
  background-color: black;
  opacity: 0.5;
  z-index: 0;
}
.cover .credit {
  position: absolute;
  left: 10px;
  bottom: 10px;
}
.cover .social a {
  color: white;
}
.cover img {
  width: 450px;
}
body {
  background-color: black;
}
.Article-heading {
  color: white;
  width: 188;
  height: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.Portofolio-heading {
  color: white;
  width: 188;
  height: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.skill-heading {
  color: white;
  width: 188;
  height: 35%;
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: column;
}
